# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
*/venv/
*/.venv/

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Python build
build/
dist/
*.egg-info/